body {
  text-align: center;
  font-size: 20px;
}


.sections a:hover, .sectionsa:active, .sectionsa.active {
  color: rgba(28, 87, 93, 0.678);
  font-size: 20px;
}

.HomePage a:hover, .HomePage a:active,

.HomePage a.active {
  font-weight: bolder
}

header {
  margin: 10px;
  height: 430px;
  border-radius: 5px;
  background: url(./LOGO2.png);
  /* filter: blur(8px);
  -webkit-filter: blur(4px); */
  background-size: 65%;
  background-color: #ede9ea;
  background-position: center;
  background-repeat: no-repeat;
}


nav {

  background-color: rgba(94, 145, 150, 0.678);
  font-size: 30px;
  font-weight: bold;
}


p.navbar-brand {
  /* font-size: 0px; */
  color: aliceblue;
}