body{
  text-align: center;
  font-size: 15px;
} 


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 

  .sections a:hover,
  .sectionsa:active,
  .sectionsa.active  {
    color: rgb(204, 114, 78);
    font-size: 20px;


  }

  
.HomePage a:hover, .HomePage a:active,
/* only active page */

.HomePage a.active {
    color: #201d1d;
    font-weight: bolder
}

header {
    padding: 180px;
    /* width: 150%; */
    /* box-shadow: 5px 10px 8px 10px #888888; */
    box-shadow: 1.5px 3px 2px 3px #afababd3;
    text-align: center;
    background: url(./volunteer-logo.jpeg);
   object-fit: cover;
    background-position: 50%;
    background-color: #fffffff8;
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
    font-family: 'Lacquer', sans-serif;
    
}


/* .header-site{
   background-color: #000000;
   background-image: url(http://www.yoursite.com/folder/image.jpg); 
   background-position: 100% 100%;
   background-repeat: no-repeat;
} */

nav {
    /* margin: 30px; */
    padding: 10px;
    background-color: rgb(69, 197, 233);
    
}

p.navbar-brand {
    font-size: 0px;
    color: aliceblue;
}