.EventE {
    width: 30%;
    margin: 16px auto;
    border:1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

div.EventE{
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 10px;
}

.EventE:hover {
    background-color: rgb(190, 208, 233);
}
/* 
.Events {
    display: flex;
    flex-flow: row wrap;
    /* justify-content:space-around; */
/*        
}  */

p.Events_content{
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}