.containerr {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width: 26%;
    border-radius: 10px; 
    /* margin: 16px auto; */
    border:1px solid rgb(238, 238, 238);
    box-shadow: 0 2px 3px #ccc;
    /* padding-bottom: 16px; */
    text-align: center;

    
}

div.EventE{
    padding: 11px; 
    width: 290px;
    height: 350px;
    text-align: left;
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 3px 8px 0 rgba(128, 128, 128, 0.24); 

} 

.containerr:hover {
    background-color:#547dab73;
    cursor: pointer;
}


.div.col-10.mx-auto.col-md-6.my-3
{
    /* padding: 30px; */
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

 

